#youtube {
    position: fixed;
    width: 40%;
    height: 100%;
    /*background-color: red;*/


    /*padding-top: 20px;*/
    /*text-align: center;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#player-circle {

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    /*background-color: white;*/
}

#track {
    color: ghostwhite;
}

.track {
    padding: 20px;
    letter-spacing: normal;
    cursor: pointer;
}

.track:hover {
    color: ghostwhite;
}

#player {
    pointer-events: none;
    display: none;
    width: 320px;
    height: 180px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}