#youtube {

    position: fixed;
    width: 50%;
    min-width: 370px;
    height: 100%;
    /*background-color: red;*/


    /*padding-top: 20px;*/
    /*text-align: center;*/

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: space-around;*/

    background-color: rgba(255, 255, 255, 0.1);

    transition: 2s width, 1s box-shadow;
}

#youtube:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#iframe-container {
    /*text-align: center;*/
    /*position: fixed;*/
    width: 100%;
    /*text-align: center;*/

    /*top: 30px;*/

    /*background-color: red;*/
}

/*will be iframe onload*/
#player {
    position: relative;
    pointer-events: none;

    display: none;
    margin: auto;
    margin-top: 20px;

    width: 320px;
    height: 180px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    /*margin: 10px;*/
}

#playlist {

    /*position: fixed;*/
    /*left: 20px;*/
    /*top: 20px;*/

    padding: 20px;
    padding-top: 15px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*text-align: center;*/

    /*background-color: white;*/
}





#track0 {
    color: ghostwhite;
}

.track {
    padding: 5px;
    letter-spacing: normal;
    cursor: pointer;
}

.track:hover {
    color: ghostwhite;
}





